body{
    background-color: black;
}

::-webkit-scrollbar{
    height: 0px;
    width: 0px;
}

h1{
    color: rgb(172, 8, 172);
    text-align: center;
    font-size: 4em;
    margin-top: 50px;
}

p{
    color: white;
    text-align: center;
    font-size: 2em;
}

img{
    border: 2px solid purple;
    width: 200px;
}

.retornar{
    text-decoration: none;
    color: white;
    background-color: purple;
    border: 2px solid white;
    font-weight: bolder;
    padding: 20px;
}