body{
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    background-color: white;
    color: rgb(187, 20, 187);
    font-weight: bolder;
    font-size: 3em;
    text-align: center;
}

p{
    color: white;
}

.eu{
    text-align: right;
    font-weight: bolder;
    font-size: 1.3em;
    text-decoration: underline;
}

.eu-fala{
    text-align: right;
    font-size: 1.2em;
    background-color: rgb(68, 67, 67);
}

.personagens{
    text-align: left;
    font-weight: bolder;
    font-size: 1.3em;
    text-decoration: underline;
}

.personagens-fala{
    text-align: left;
    font-size: 1.2em;
    background-color: rgb(0, 87, 128);
}

.escolha{
    text-align: right;
    font-size: 1.2em;
}

.decisao{
    margin-top: 50px;
    text-align: right;
}

a{
    text-decoration: none;
    color: white;
    font-size: 1.2em;
    border: 2px solid purple;
    padding: 20px;
    margin: 10px;
}