body{
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    background-color: white;
    color: rgb(187, 20, 187);
    font-weight: bolder;
    font-size: 3em;
    text-align: center;
}

p{
    color: white;
}

.eu{
    text-align: right;
}

a{
    text-decoration: none;
    color: white;
    font-size: 1.2em;
    background-color: purple;
    margin-right: 10px;
}